.Featured {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000000;
    color: #fff;
    margin-right: 0.5rem;
    margin-top: 2rem;
    flex: 1;
    box-shadow: -4px 0px 7px 9px rgba(110, 110, 110, 0.68);
    -webkit-box-shadow: -2px 0px 7px 4px rgba(110, 110, 110, 0.68);
    -moz-box-shadow: -4px 0px 7px 6px rgba(110, 110, 110, 0.68);

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            font-size: 1.5rem;
            color: red;
        }
    }

    .bottom {
        color: #fff;
        padding: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .featuredChart {
            width: 200px;
            height: auto;

            .title {
                font-weight: 500;
                color: gray;
                text-align: center;
            }

            .amount {
                font-size: 2.5rem;
                color: green;
                text-align: center;
            }

            .desc {
                font-size: 0.7rem;
                color: gray;
                text-align: center;
            }
        }

        .targets {

            .items {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    &.positive{
                        color: green;
                    }
                    &.negative{
                        color: red;
                    }
                }

                .item h1 {
                    font-size: 0.8rem;
                    color: rgba(255, 0, 0, 0.271);
                }

                .target-stats{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }            
        }
    }



}