.Single {
    display: flex;
    background-color: #000000;
    border: 1px solid #fff;
    height: 100%;

    .sidebar {
        flex: 1;
        border-right: 1px solid #fff;
    }

    .single-component {
        flex: 4;
        background-color: hsl(0, 0%, 0%);
        padding: 2rem;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        width: 100%;

        .navbar {
            margin-bottom: 3rem;
            border-bottom: 1px solid #fff;
            padding-bottom: 1.75rem;
            width: 100%;
        }

        .top {
            display: flex;
            gap: 2rem;
            color: #fff;
            height: auto;

            .left {
                padding: 1rem;
                flex: 1.3;
                display: flex;
                align-items: center;
                border-radius: 10px;
                justify-content: space-between;
                position: relative;
                box-shadow: -4px 0px 7px 9px rgba(110, 110, 110, 0.68);
                -webkit-box-shadow: -2px 0px 7px 4px rgba(110, 110, 110, 0.68);
                -moz-box-shadow: -4px 0px 7px 6px rgba(110, 110, 110, 0.68);

                .label {
                    margin-top: -1rem;

                    h1 {
                        color: red;
                        margin-top: -2rem;
                        font-size: 1.5rem;
                    }

                    img {
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                        border: 3px solid #fff;
                        margin-top: 3rem;
                    }
                }

                .edit-button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 0.4rem;
                    cursor: pointer;
                    font-size: 0.8rem;
                    color: red;
                    background-color: rgba(255, 0, 0, 0.168);
                    border-radius: 0px 10px;
                }

                .details {
                    margin-top: 2.6rem;

                    h2 {
                        font-size: 1rem;
                        color: red;
                        text-decoration: underline;
                    }

                    .detail-item {
                        display: flex;
                        gap: 0.4rem;
                        line-height: 1.5rem;

                        .itemKey {
                            color: red;
                        }

                        .itemValue {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .right {
                flex: 2;
                width: 100%;
                margin-top: -2rem;
            }
        }

        .bottom {
            padding: 2rem;
            margin-top: 2rem;
            border-radius: 10px;
            box-shadow: -4px 0px 7px 9px rgba(110, 110, 110, 0.68);
            -webkit-box-shadow: -2px 0px 7px 4px rgba(110, 110, 110, 0.68);
            -moz-box-shadow: -4px 0px 7px 6px rgba(110, 110, 110, 0.68);
        }
    }


}