.List {
    display: flex;
    background-color: #000000;
    border: 1px solid #fff;
    height: 100vh;

    .sidebar {
        flex: 1;
        border-right: 1px solid #fff;
    }

    .list-component {
        flex: 4;
        background-color: hsl(0, 0%, 0%);
        padding: 2rem;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        height: 80%;

        .navbar {
            margin-bottom: 3rem;
            border-bottom: 1px solid #fff;
            padding-bottom: 1.75rem;
            width: 100%;
        }
        
    }


}